[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/echo
Icon=system-log-out
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out